<div id="page-home">
	<div class="container-main-width homepage">
		<div ng-controller="homepageCtrl" class="home-ListProducts">
			<div class="c-both">
				<img ng-src="./sections/homepage/logos/soajs_logo.png" class="float: left;">
				<img ng-src="./sections/homepage/logos/jsconf_logo.png" class="f-right" width="10%" height="10%">
			</div>
			<br><br><br><br>

			<div ng-hide="message !== ''">
				<ngForm></ngForm>
			</div>

			<div ng-show="message !== ''">
				<span ng-style="{'text-align': 'center'}">Hello {{message}}</span>
				<br><br>
			</div>

		</div>

	</div>
</div>
