body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    background: url("../images/squared_metal.png");
}

a {
    text-decoration: none;
    color: #337ab7;
    outline: 0;

}

a:hover, a:focus {
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: 0;
}

em {
    color: #999;
}

.container-main-width {
    width: 1136px;
    margin: 0 auto;
    font-size: 20px;
}

.rightTopLinks {
    padding-top: 9px;
    color: white;
    float: right;
}

.storesLink {
    width: 108px;
}

.cart-icon {
    position: relative;
    width: 175px;
}

.rightTopLinks img {
    height: 21px;
}

#userMenu {
    width: 140px;
    padding-top: 9px;
    color: white;
    float: right;
    position: relative;
}

#topBar #userMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#topBar #userMenu a {
    outline: 0;
}

#topBar #userMenu a:hover {
    text-decoration: underline;
    color: white;
}

#userMenu .myAccountMenu {
    width: 133px;
    height: 99px;
    position: absolute;
    top: 47px;
    background-color: #EDECE6;
    z-index: 9999;
}

#userMenu .myAccountMenu ul {
    list-style-type: none;
}

#userMenu .myAccountMenu ul li {
    border-bottom: 1px solid #E6E6E3;
    color: #464543;
    height: 33px;
    padding-top: 8px;
    padding-left: 15px;
}

#topBar #userMenu .myAccountMenu li a:hover {
    text-decoration: none;
    color: #464543;
}

#userMenu .myAccountMenu ul li.lastItem {
    border-bottom: none;
}

#userMenu .myAccount img {
    height: 20px;
    margin-right: 8px;
}

#userMenu span.myAccount a {
    padding-bottom: 28px;
}

#page {
    margin: 0 auto;
    clear: both;
    position: relative;
    z-index: 10;
    min-width: 1136px;
}

.homeFooter {
    //background: url("../images/footer.png") no-repeat bottom center;
    background-size: 100% auto;
}

#page .wrapper {
    min----height: 560px;
    position: relative;
}

.wrapper .contentPage {

}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
}

.overlay .bg {
    background-color: #464543;
    color: #464543;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.overlay .content {
    background: white;
    margin: auto;
    opacity: 0.9;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    width: 30%;
    left: 35%;
    top: 10%;
}

#overlay .content .image {
    padding-bottom: 50px;
    padding-top: 50px;
}

.modal-backdrop.in {
    height: 100%;
}

#notificationMessages .content {
    top: 100px;
    background: rgb(255, 255, 255);
    box-shadow: "0px 0px 20px 0px rgba(0,0,0,0.20)";
    border-radius: 13px;
    width: 270px;
    height: 141px;
    opacity: 1;
    padding-top: 20px;
}

#notificationMessages .content .customMessage {
    height: 80px;
    border-bottom: 1px solid #7F7E7A;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
}

#notificationMessages .buttons {
    width: 100%;
    padding-top: 6px;
    text-align: center;
}

#notificationMessages .buttons a {
    font-size: 17px;
    color: #007AFF;
    text-align: center;
}

.alertButton {
    text-align: center;
    cursor: pointer;
}

a {
    cursor: pointer;
}

form .note {
    display: none;
}

form .submittedForm .note {
    display: block;
}

#notifications {
    clear: both;
    background: white;
    padding: 5px;
    border: solid 1px #cccccc;
    margin-bottom: 10px;
    border-radius: 5px;
}

.alert {
    margin: 0px;
}

#page section {
    display: inline-block;
    width: 100%;
    background: #ffffff;
    border: solid 1px #cccccc;
    padding: 10px;
    border-radius: 5px;
    min-height: 300px;
}

#page section aside {
    float: left;
    min-height: 450px;
    display: inline-block;
}

#footer {
    width: 100%;
    min-height: 80px;
    margin-top: 30px;
    padding-bottom: 80px;
}

.homeFooter #footer {
    padding-bottom: 200px;
}

.footer-content {
    background-color: white;
    height: auto;
    padding: 25px;
}

.footer-content img {

}

.homeFooter .copyright {
    color: white;
}

#footer .borderBottom {
    border-bottom: 1px solid #CECDCC;
}

.homeFooter #footer .borderBottom {
    border: none;
}

.copyright {
    font-size: 11px;
    padding: 16px 25px;
    color: #7F7E7A;
}

#footer .menu {
    font-size: 11px;
    margin-top: 10px;
    list-style-type: none;
    float: left;
}

.redFlag {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    padding: 15px;
    border-radius: 4px;
}

.w80 {
    min-width: 80%;
    width: 80%;
}

.w90 {
    min-width: 90%;
    width: 90%;
}

.w100 {
    width: 100%;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}

.t-left {
    text-align: left;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.c-both {
    clear: both;
}

.table {
    display: table;
    /*display: flex;*/
}

.table-cell {
    display: table-cell;
    /*flex: 1;*/
}

.mb5 {
    margin-bottom: 5px;
}

/**
    THEME SPECIFIC
**/
.large-Modal .modal-dialog {
    width: 80%;
}

pre {
    padding: 0;
}

/**
    THEME ENDS HERE
    CUSTOM CSS STARTS HERE
**/

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
}

.nav-tabs li a:focus {
    outline: 0;
}

input[type="radio"], input[type="checkbox"] {
}

input[type="text"], input[type="number"] {
    outline: 0px !important;
    -webkit-appearance: none;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: gold;
}

.noWrap {
    white-space: nowrap;
}

ul.tiles, ul.listing {
    margin: 0;
    padding: 0;
}

.button {
    background-color: #fab117;
    background-image: -moz-linear-gradient(center top, #ffd21d, #fab117);
    background-size: 100% auto;
    border: 1px solid #fab117;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 2em;
    min-width: 160px;
    text-align: center;
    text-shadow: 0 0 6px rgba(119, 76, 8, 0.65);
    text-transform: uppercase;
    width: auto;
    font-size: 14px;
}

.button:hover {
    color: #fff;
}

/*****/
.listing .itemProduct .title a {
    font-size: 16px;
    text-decoration: none;
    color: #464543;
    font-weight: bold;
}

.listing .itemProduct .mlogoImage {
    text-align: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.listing .itemProduct .mlogoImage img {
    max-width: 200px;
    max-height: 50px;
}

.listing .icons-env {
    float: right;
    margin-top: 40px;
}

/********************** */
.tiles .itemProduct {
    float: left;
    display: inline;
    width: 246px;
    margin-right: 30px;
    margin-bottom: 28px;
    border: 1px solid #CECDCC;
    border-radius: 5px;
    background-color: white;
    position: relative;
    list-style-type: none;
}

.homepage .tiles li:nth-child(4n) {
    margin-right: 0px;
}

.storeProducts .tiles li:nth-child(4n) {
    margin-right: 0px;
}

.storeProducts .byName {
    display: none;
}

.tiles .priceInfo {
    display: none;
}

.tiles .itemProduct .block-wrapper {
    padding: 10px;
    position: relative;
    height: 359px;
}

.tiles .itemProduct .prodImage-env {
    width: 90%;
    margin-left: 5%;
    height: 220px;
    text-align: center;
    margin-top: 1px;
    float: left;
    clear: both;
    text-align: center;
    top: 10px;
}

.tiles .itemProduct .prodImage {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    height: 100%;
}

.tiles .itemProduct .prodImage-env img {
    max-height: 100%;
    max-width: 100%;
}

.itemProduct .info-wrap {
    margin-top: 255px;
}

.byName {
    color: #7F7E7A;
    font-size: 12px;
}

.tiles .byName {
    margin-left: 20px;
}

.tiles .buyNow-wrapper {
    height: 40px;
    width: 100%;
}

.buyNow a, .addCart a {
    padding: 10px 28px;
}

.addCart a:hover {
    color: #ff6c00;
}

#page-previewProduct .stars.countRate {

}

.tiles .button-wrap {
    padding-left: 44px;
    padding-bottom: 10px;
}

.tiles .title {
    text-align: left;
    height: 39px;
    overflow: hidden;
    margin-top: 25px;
}

.tiles .itemProduct .title a {
    font-size: 13px;
    text-decoration: none;
    color: #464543;
}

.tiles .itemProduct .mlogoImage {
    text-align: center;
}

.tiles .itemProduct .mlogoImage img {
    max-width: 200px;
    max-height: 50px;
}

.tiles .bottom-env {
    position: absolute;
    bottom: 5px;
    width: 245px;
}

.tiles .icons-env {
    position: absolute;
    bottom: 1px;
    right: 1px;
}

/***************************************************************/

#merchantsList .tiles {
    padding-bottom: 10px;
}

#merchantsList .tiles li {
    width: 548px;
    height: 516px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#merchantsList .tiles li:hover {
    border-color: #ff6c00;
}

#merchantsList .tiles li:nth-child(2n) {
    margin-right: 0px;
}

#merchantsList .tiles .logoImg {
    text-align: center;
    margin: 0 auto;
    width: 506px;
    height: 354px;
}

#merchantsList .tiles .logoImg img {
    max-width: 100%;
    max-height: 100%;
}

#merchantsList .tiles .homepageLink {
    text-align: center;
    margin-bottom: 6px;
}

#merchantsList .homepageLink a {
    font-size: 12px;
    color: #2c568d;
}

.storeName {
    color: #ff6c00;
    font-size: 22px;
    margin-bottom: 10px;
}

#merchantsList .tiles .description {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 55px;
    font-size: 12px;
}

/*******/

.emptyCartSnippet {
    width: 150px;
    height: 50px;
    left: -50px;
}

.view-controls {
    float: right;
    margin-bottom: 5px;
}

#productsPage .view-controls {
    width: 230px;
}

.view-controls ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.view-controls ul li {
    float: left;
}

.view-controls a.active {
    color: #fab117;
}

.clearfix {
    display: inline-block;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;
}

/* Hides from IE-mac \*/
.clearfix {
    display: block;
}

.clearfix {
    clear: both;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: " "
}

.itemFinalPrice {
    font-size: 16px;
    font-family: OpenSans-Bold;
}

.oldPrice {
    text-decoration: line-through;
    color: #7F7E7A;
    font-size: 11px;
}

.homepage .sectionTitle {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 15px
}

/**** Products page ***/
#productsPage .listing .title {
    width: 600px;
}

.filter-wrapper {
    padding-bottom: 24px;
    padding-top: 24px;
    border-top: 1px solid #E6E6E3;
}

.filterLabel {
    padding-bottom: 5px;
    font-size: 14px;
    color: #7F7E7A;
}

.filterValue {
    color: #464543;
    font-size: 13px;
}

.prodLeftNav {
    float: left;
    width: 272px;
    margin-right: 25px;
}

.prodLeftNav .headLeft {
    height: 60px;
    background-color: #7F7E7A;
    color: white;
    font-family: OpenSans-Bold;
    font-size: 14px;
    padding-left: 18px;
    padding-top: 22px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.prodLeftNav .refineLeftNav {
    background-color: #F6F5F0;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.refineLeftNav .sectionHeaders {
    padding-bottom: 24px;
    padding-top: 24px;
    font-size: 14px;
    color: #7F7E7A;
}

.prodLeftNav .refineLeftNav input[type="checkbox"] {
    background: #000066;
}

.allProductsList {
    float: left;
    width: 839px;
}

.fullPage .tiles li:nth-child(4n) {
    margin-right: 0;
}

.listWithNav .tiles li {
    margin-right: 49px;
}

.listWithNav .tiles li:nth-child(3n) {
    margin-right: 0;
}

#productsPage .tiles .itemProduct {
    height: 360px;
}

/**** end Products page ***/

.chooseModes {
    list-style-type: none;
    height: 22px;
    padding: 0;
}

.chooseModes li {
    float: left;
    padding-right: 20px;
    color: #7F7E7A;
    font-size: 14px;
}

.chooseModes li input {
    margin-right: 8px;
}

.smallButton {
    min-width: 100px;
    width: 100px;
}

.pointsOfSale {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 108px;
}

.pointsOfSale-select {
    width: 18px;
    height: 108px;
    float: left;
    padding-top: 42px;
}

.pointsOfSale-data {
    width: 267px;
    height: 108px;
    background-color: #F6F5F0;
    border-radius: 5px;
    margin-left: 18px;
    padding: 10px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}

.pinDistance {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 11px;
}

.pointsOfSale-data .storeData {
    padding: 5px 5px 1px 12px;
    font-size: 11px;
}

.addressBlock {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 255px;
    height: 150px;
    margin-top: 25px;
    position: relative;
}

.deleteButton-env {
    position: absolute;
    bottom: 0;
    color: #ff6c00;
}

.deleteButton-env .deleteButton {
    margin-right: 40px;
}

.addressBlock .selectAddress {
    position: absolute;
    bottom: 0;
    color: #7F7E7A;
    width: 100%;
    vertical-align: bottom;
}

.addressBlock .selectAddress input {
    margin-right: 5px;
}

.selectAddress label {
    cursor: pointer;
}

.selectAddress .editAddress {
    float: right;
    padding-right: 21px;
    padding-top: 2px;
    color: #FF6C00;
    font-weight: 700;
}

.nameShipping {
    font-size: 14px;
}

.borderRoundedBox {
    border: 1px solid #CECDCC;
    border-radius: 10px;
}

.merchant-env {
    margin-bottom: 35px;
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 10px;
}

.deliveryOptions {
    background-color: #F6F5F0;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.shippingMethods ul {
    list-style-type: none;
    padding: 0;
}

.deliveryOptions ul {
    list-style-type: none;
    padding: 0;
}

.deliveryOptions ul li input {
    margin-right: 5px;
}

.shippingMethods {
}

.deliveryIntervals ul {
    padding-left: 30px;
}

.toShippingAddress {
    margin-bottom: 10px;
}

.modal-dialog {
    z-index: 2100;
}

.merchantTitle {
    font-weight: bold;
    font-size: 18px
}

.orderSummary hr {
    margin-bottom: 5px;
    margin-top: 5px;
    color: #dedede;
}

.creditCards tr.card {
    border-top: 1px solid #F6F5F0;
}

.creditCards tr.card td {
    padding-top: 10px;
    padding-bottom: 10px;
}

#page-home {
    //background: url("../images/hero.png") no-repeat top center;
    background-size: 100% auto;
    min-width: 1136px;
}

.home-addver {
    height: 350px;
}

.homepage {
    padding-top: 10px;
}

.home-ListProducts {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    margin-top: 3%;
}

.home-ListProducts .h21semiBold {
    padding-bottom: 35px;
}

.homepage .newArrivals {
    padding-bottom: 30px;
    border-bottom: 1px solid #ff6c00;
    margin-bottom: 38px;
}

.homepage .onSale {
    border-bottom: 1px solid #ff6c00;
    padding-bottom: 30px;
}

.saleLogo {
    position: absolute;
    top: 8px;
    left: -3px;
    width: 60px;
    height: 30px;
    background-color: #03AEEF;
    color: white;
    font-family: OpenSans-Bold;
    text-align: center;
    padding-top: 7px;
}

.orangeBorderLink {
    padding-top: 10px;
    border-radius: 5px;
    border: 1px solid #FF6C00;
    font-size: 14px;
    font-family: OpenSans-Bold;
    color: #FF6C00;
    height: 40px;
    width: 241px;
    text-align: center;
    display: inline-table;
    cursor: pointer;
}

.orangeBorderLink:hover {
    color: #FF6C00;
}

.orangeLink {
    color: #FF6C00;
    font-size: 14px;
    font-family: OpenSans-Bold;
}

.orangeLink span {
    text-decoration: underline;
}

.orangeLink:hover {
    color: #FF6C00;
}

/***********/

.innerPage {
    padding-top: 20px;
    padding-bottom: 80px;
    border-bottom: 1px solid #F6F5F0;
}

.modal-sm {
    width: 444px;
}

.cartProductImg img {
    max-width: 108px;
    max-height: 160px;
}

.pTitle {
    font-size: 16px;
    color: #464543;
    margin-bottom: 10px;
}

.orderRecord {
    border: 1px solid #cecdcc;
    border-radius: 10px;
    height: auto;
    margin-bottom: 26px;
}

.merchantOrderRecord {
    height: auto;
    margin-bottom: 30px;
    padding: 20px;
}

.greenInStock {
    font-size: 14px;
    font-family: OpenSans-SemiBold;
    color: #669900;
}

.redStock {
    color: #AF153E;
    font-size: 14px;
    font-family: OpenSans-SemiBold;
}

#topBar-env {
    height: 60px;
    background-color: #464543;
    min-width: 1136px;
}

#topBar {
    padding-top: 13px;
}

#topBar .searchCriteria {
    height: 34px;
    width: 420px;
    border-radius: 15px;
    float: left;
    position: relative;
    background-color: #E6E6E3;
}

#topBar .isOpenedMenu {
    border-bottom-left-radius: 0;
}

#topBar .searchCriteria .loop {
    width: 39px;
    height: 34px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #FF6C00;
    padding-left: 11px;
    padding-top: 8px;
    float: right;
    cursor: pointer;
}

#topBar .searchCriteria .loop img {
    width: 15px;
}

#topBar .searchCriteria .inputBox {
    min-width: 202px;
    width: auto;
    display: inline-table;
    float: left;
    background-color: #E6E6E3;
}

#topBar .searchCriteria .inputBox input {
    border: none;
    width: 200px;
    height: 34px;
    padding-left: 10px;
    background-color: #E6E6E3;
    outline: 0px !important;
    -webkit-appearance: none;
}

#topBar .logo {
    width: 165px;
    padding-left: 5px;
    padding-top: 4px;
    float: left;
}

#topBar .selectDept-env {
    min-width: 60px;
    padding-left: 14px;
    padding-top: 8px;
    height: 34px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding-right: 5px;
    float: left;
}

#topBar .isOpenedMenu .selectDept-env {
    border-bottom-left-radius: 0;
}

#topBar .selectDept {
    width: auto;
    max-width: 160px;
    height: 17px;
}

#topBar .selectDept select {
    border: none;
    outline: 0 none;
}

#topBar .deptFacade {
    z-index: 10;
    padding-right: 10px;
    padding-left: 5px;
    cursor: pointer;
    background-image: url("../images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 8px auto;
    height: 17px;
}

.deptFacade .depValue {
    height: 17px;
    overflow: hidden;
    white-space: nowrap;
}

#topBar .openedMenu {
    background-image: url("../images/icon-arrow-up.svg");
}

#topBar .image-icon {
    max-height: 21px;
}

.cart-icon .cart-info {
    padding-left: 10px;
}

.cartSummary .subTotal-env {
    height: 70px;
    padding-top: 12px;
}

.cartSummary {
    float: right;
    width: 300px;
    height: 190px;
    margin-top: 49px;
    background-color: #f6f5f0;
    border-radius: 5px;
    padding: 25px;
}

.page-checkout .cartHeading {
    padding-right: 20px;
}

.page-checkout .cartHeading .cartHeader {
    width: 880px;
}

.page-checkout .cartItem {
    border-bottom: 1px solid #F6F5F0;
    height: 150px;
}

.page-checkout .cartProductImg img {
    max-height: 140px;
}

.page-checkout .cartItem .cartItemInfo {
    width: 720px;
    height: 128px;
    float: left;
}

.page-checkout .cartItem .cartItemQty {
    color: #7F7E7A;
    font-size: 14px;
    padding-left: 5px;
}

.cartItemQty .static {
    padding-top: 14px;
}

.greyRounded {
    background-color: #E6E6E3;
    border: 1px solid #E6E6E3;
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
}

.merchant-env .orangeBorderLink {
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
}

.listProds .sorting {
    float: right;
    font-size: 14px;
    color: #7F7E7A;
    __display: none;
}

.sorting select {
    margin-left: 14px;
}

select {
    height: 40px;
    color: #7F7E7A;
    font-size: 14px;
    border: 1px solid #CECDCC;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

.orderOverViewFinal ul {
    list-style-type: none;
    padding: 0;
}

.orderOverViewFinal ul li:nth-child(3n) {
    margin-right: 0;
}

.orderOverViewFinal .merchant-env {
    float: left;
    width: 352px;
    margin-right: 40px;
    height: 295px;
    position: relative;
}

.orderOverViewFinal .orderSummary {
    float: none;
    position: absolute;
    bottom: 11px;
}

.deleteMerchantsList {
    list-style-type: none;
    padding: 0;
}

.deleteMerchantsList li {
    float: left;
    width: 250px;
}

.creditCards .h16semiBold td {
    padding-top: 10px;
}

#cardList_0 {
    border: 0;
}

.emptyCartSummary {
    margin: 0;
    height: 120px;
}

.pagePagination {
    width: 100%;
    background-color: #F6F5F0;
    border-radius: 5px;
    height: 60px;
    padding: 10px;
}

.pagePagination ul {
    height: 30px;
    margin: 0 auto;
    list-style-type: none;
}

.middleNumbers {
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    margin-right: 170px;
    margin-left: 170px;
}

.pagination > li {
    border: none;
    margin-right: 10px;
    float: left;
}

.pagePagination .orangeBorderLink {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 170px;
}

.pagePagination .disabled .orangeBorderLink {
    opacity: 0.6;
    cursor: not-allowed;
}

.pagePagination .pagination > li > a {
    background: none;
    border: none;
    color: #ff6c00;
    font-size: 14px;
    font-family: OpenSans-Bold;
}

.pagePagination .pagination > li > a:hover, .pagePagination .pagination > li > a:focus {
    background: none;
}

.pagePagination .pagination > li.active > a {
    color: #7F7E7A;
}

.previous {
    position: absolute;
    left: 0;
}

.next {
    position: absolute;
    right: 0;
}

.viewMore {
    display: none;
}

.orderRecord .cartItem {
    margin-bottom: 18px;
}

.orderHeader {
    padding: 20px 20px 20px 25px;
    background-color: #f6f5f0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid #cecdcc;
}

.orderRecord .cartProductImg {
    margin-right: 20px;
    padding-left: 0;
}

.orderRecord .cartProductImg img {
    max-width: 130px;
    max-height: 130px;
}

td.w200 {
    width: 200px;
}

.creditCards td.radio-env {
    width: 25px;
}

.orderSummary {
    float: right;
    width: 280px;
    color: #7F7E7A;
    font-size: 13px;
}

.orderSummaryTable td {
    padding-top: 5px;
}

.page-orderOverview .merchant-env {
    padding-top: 10px;
}

.leftOrderSummary {
    float: left;
    width: 600px;
}

.page-orderOverview .cartSummary {
    margin: 0;
    height: auto;
    width: 325px;
    text-align: center;
}

.orderCreated {
    padding-top: 80px;

}

.orderCreated .h21semiBold {
    line-height: 30pt;
}

.cartSubtotal td.h14Bold-7F7E7A {
    text-align: right;
    padding-right: 45px;
}

.cartSubtotal td.itemFinalPrice {
    width: 111px;
}

.page-myAccount .borderRoundedBox {
    padding: 12px 18px 15px 18px;
    margin-bottom: 35px;
}

.borderRoundedBox.chooseAddress {
    padding: 12px 0px 20px 20px;
}

.page-myAccount .addressBlock {
    margin-top: 2px;
}

.orderHeader .orangeBorderLink {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.orderHeader .info-order {
    float: left;
    padding-right: 80px;
    color: #7f7e7a;
    font-size: 14px;
    text-align: left;
}

.info-order .labelInfo {
    color: #464543;
}

.orderDetails {
    padding-right: 15px;
    padding-left: 15px;
}

.orderDetails .pTitle {
    margin-top: 5px;
}

.orderDetails .cartItem {
    border-top: 1px solid #f6f5f0;
}

.orderDetails .cartItem:first-child {
    border-top: none;
}

.orderCartInfo {
    float: left;
    font-size: 14px;
    color: #464543;
    width: 943px;
}

.productDetailView {
    border: 1px solid #CECDCC;
    border-radius: 10px;
    position: relative;
}

.productDetailView .leftSection {
    width: 500px;
    float: left;
    border-right: 1px solid #F6F5F0;
    text-align: center;
    padding-top: 15px;
}

.productDetailView .leftSection .previewImage {
    height: 428px;
    width: 428px;
    margin: 0 auto;
}

.productDetailView .leftSection .previewImage img {
    max-width: 428px;
    max-height: 428px;
}

.imageIcon {
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #CECDCC;
    padding-top: 2px;
    margin-right: 29px;
    margin-bottom: 26px;
    float: left;
    cursor: pointer;
}

.imageIcon img {
    max-height: 55px;
    max-width: 55px;
    margin: auto 0;
}

.selectedPreviewIng {
    border: 1px solid #ff6c00;
}

.productDetailView .rightSection {
    float: right;
    width: 630px;
    padding: 30px;
    padding-left: 40px;
}

.productDetailView .pTitle {
    font-size: 22px;
    font-family: OpenSans;
}

.imagesSmall {
    padding-top: 28px;
    padding-left: 40px;
}

.productDetailView .itemFinalPrice {
    font-size: 22px;
    font-family: OpenSans-SemiBold;
    margin-bottom: 28px;
}

.productDetailView .stars {
    margin-top: 12px;
    margin-bottom: 12px;
}

.productDetailView .description {
    font-size: 14px;
    color: #7F7E7A;
    padding-bottom: 35px;
    border-bottom: 1px solid #CECDCC;
}

.productDetailView .rightSection .addItemToCart {
    padding-top: 25px;
}

.productDetailView .rightSection .cartItemQty {
    width: auto;
    float: right;
    margin-left: 30px;
}

.productDetailView .rightSection .cartItemQty input {
    width: 56px;
    margin-left: 10px;
}

.productDetailView .rightSection .orangeBorderLink {
    width: 124px;
    float: right;
    margin-left: 30px;
    cursor: pointer;
}

.page-heading {
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 14px;
    color: #7F7E7A;
}

.page-heading a {
    font-size: 14px;
    font-family: OpenSans-SemiBold;
    color: #FF6C00;
}

#page-previewProduct .moreStores .h21semiBold {
    padding-top: 70px;
    padding-bottom: 38px;
}

.moreStores .store {
    border: 1px solid #CECDCC;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 32px;
    border-radius: 5px;
    padding: 11px;
}

.productDetailView .oldPrice {
    font-size: 14px;
}

.storeLogo {
    width: 176px;
    height: 124px;
}

.storeLogo img {
    max-width: 100%;
    max-height: 100%;
}

.store .byName {
    color: #464543;
    font-size: 13px;
    margin-bottom: 8px;
    margin-top: 3px;
}

#merchantView .logoImg {
    overflow: hidden;
    width: 100%;
    height: 410px;
}

#merchantView .logoImg img {
    max-width: 1094px;
}

.zipCode {
    width: 100px;
}

#merchantView .pointsOfSale-data {
    margin-left: 0;
}

.pointsOfSale-env {
    padding-bottom: 20px;
}

.store-section {
    border-top: 1px solid #F6F5F0;
    padding-top: 20px;
}

.floatSection {
    float: left;
    width: 240px;
    margin-right: 20px;
}

.merchantOrderRecord .cartItem {
    border-top: 1px solid #f6f5f0;
}

.merchantOrderRecord .orderCartInfo {
    padding-top: 15px;
    width: 943px;
}

.merchantOrderRecord .cartProductImg {
    padding-left: 0;
    margin-right: 10px;
}

.merchantOrderRecord .cartProductImg img {
    max-height: 120px;
    max-width: 130px;
}

.page-viewOrder .orderHeader {
    border-radius: 10px;
    margin-bottom: 15px;
    border-bottom: none;
    text-align: center;
}

.addingToCart {
    display: inline;
}

#merchantView {
    padding: 15px 20px;
}

.hideTopBar {
    display: none;
}

.page-checkout label, .page-orderOverview label {
    font-weight: normal;
    margin-bottom: 0;
    width: auto;
}

.ratingStars {
    height: 13px;
    width: 71px;
    display: inline;
}

.ratingStars .oneStar {
    float: left;
    height: 15px;
    width: 14px;
}

.ratingStars .oneStar img {
    height: 13px;
    width: 14px;
}

.fullPage {
    width: 100%;
}

.filterChoose_color {
    list-style-type: none;
}

.filterChoose_color li {
    float: left;
    margin-right: 25px;
    cursor: pointer;
}

.filterChoose_size {
    list-style-type: none;
}

.filterChoose_size li {
    cursor: pointer;
}

.filter_label {
    color: #464543;
    text-transform: capitalize;
}

.filterValues {
    padding-right: 25px;
}

.filterValue a:hover {
    color: #ff6c00;
}

#page-cart .byName {
    margin-right: 30px;
}

#gmap_canvas {
    width: 515px;
    height: 600px;
}

.map-env {
    overflow: hidden;
    width: 515px;
    height: 600px;
    float: right;
}

#gmap_canvas img, .gmap_canvas_ img {
    max-width: none !important;
    background: none !important
}

.page-checkout .map-env, .page-checkout .gmap_canvas_ {
    width: 487px;
    height: 400px;
}

.account-env {
    width: 620px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 40px 110px;
}

.login-env {
    height: 340px;
}

.account-env .form-control {
    height: 40px;
}

.account-env .orangeBorderLink {
    width: 100%;
}

.account-env .footer {
    margin-top: 30px;
}

.tr-firstName-wrapper, .tr-lastName-wrapper {
    float: left;
    height: 56px;
    width: 191px;
}

.tr-firstName-wrapper {
    margin-right: 10px;
}

.tr-email-wrapper {
    clear: both;
}

.continueShopping {
    padding-top: 8px;
    float: left;
}

.emptyCart .continueShopping {
    padding-top: 40px;
}

.pointsOfSaleList {
    float: left;
}

.page-checkout .pointsOfSaleList {
    width: 610px;
}

#merchantView .pointsOfSaleList {
    width: 575px;
}

.descriptionSearch-env {
    height: 60px;
}

.descriptionSearch {
    padding-top: 14px;
    float: left;
}

.attributeView-env {
    margin-top: 15px;
}

.attributeView {
    padding-top: 10px;
    padding-right: 15px;
}

.myAccountLinks a {
    margin-right: 80px;
}

.priceRange {
    width: 60px;
    border: 1px solid #cecdcc;
    border-radius: 5px;
    color: #7f7e7a;
    font-size: 12px;
    height: 28px;
    padding-left: 8px;
}

#selectPriceForm .orangeBorderLink {
    width: 46px;
    padding-left: 5px;
    padding-right: 5px;
    height: 28px;
}

.mt8 {
    margin-top: 8px;
}

.creditCards a {
    color: #FF6C00;
}

.addressCity {
    display: inline;
}

.addressCountry {
    display: inline;
}

.h-orange {
    color: #FF6C00;
}

.notifications .orangeBorderLink {
    height: 40px;
    font-size: 14px;
    margin-right: 30px;
    width: 275px;
}

.notifications .anotherAddressLink {
    width: 300px;
}

.notifications .deleteMerchantButton {
    margin-right: 10px;
}

.notifications .alert-danger {
    margin-bottom: 12px;
}

.notifications .alert-danger .line1 {
    margin-bottom: 12px;
}

.notifications .alert-danger .line2 {
    margin-bottom: 8px;
}

.notifications .alert-danger .h21semiBold {
    margin-bottom: 5px;
}

.orangeBorderLink.inactive {
    /*background-color: #979797;*/
    border-color: #979797;
    cursor: not-allowed;
    background-color: transparent;
    color: #979797;
}

.myInfoBubble {
    color: white;
    height: auto;
}

.cartItemPriceMobile {
    width: 112px;
    float: left;
    display: none;
}

.quantityCartMobile {
    display: none;
}

.mobileCreateAcc {
    display: none;
}

.myAccount img {
    cursor: pointer;
    cursor: hand;
}

/* footer */
.ypg-logo-footer {
    float: left;
    width: 150px;
}

.ypLogoS {
    width: 100%;
}

.ypLogoS img {
    width: 100%;
}

.toggle-footer {
    text-align: right;
}

.toggle-footer a {
    color: #00aeef;
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 10px;
}

.ypgFooterLinks {
    padding: 0;
    position: relative;
    width: 100%;
    border-top: 1px solid #e2e2e2;
    margin: 20px 0 10px;
    padding-top: 16px;
}

.ypgFooterLinks .ypgFooterLinks-list {
    display: table-cell;
    width: 16.6%;
}

.ypgFooterLinks-list + .ypgFooterLinks-list {
    padding-left: 10px;
}

.ypgFooterLinks .module-title {
    background-color: transparent;
    border-left: 0 none;
    color: #00aeef;
    font-weight: 500;
    margin-bottom: 3px;
    padding: 0;
}

.ypgFooterLinks .module-body {
    display: block;
    font-size: 11px;
}

.ypgFooterLinks .module-body ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    color: #aaa;
}

.ypgFooterLinks .ypgFooterLinks-inlineList li {
    display: inline;
}

.ypgFooterLinks-list .ypgFooterLinks-list-oneLine {
    display: inline-block;
}

.addNewBilling {
    float: right;
    padding-right: 20px;
}
